html {
  height: 100%;
}
body {
  height: 200%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav.menu {
  background-color: lightgray;
  position: fixed;
  width: 100%;
}
nav.menu ul {
  display: flex;
  list-style-type: none;
}
nav.menu a {
  display: block;
  padding: 10px;
}

@media (max-width: 720px) {
  nav.menu {
    height: 100%;
    width: 200px;
  }
  nav.menu ul {
    flex-direction: column;
  }
}
